__pycache__/
*.pyc
__pycache__/
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
.idea/
.vscode/
*.pt
*.pth
venv/
.venv/
test.py
test2.py
test3.py
Test_data/
dataset/data/datasetImages_originalSize/
dataset/data/imgListFiles_label/
dataset/data/saved/
dataset/__pycache__/
*_scores.txt
test*