__pycache__/
*.pyc
__pycache__/
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
.idea/
.vscode/
*.pt
*.pth
venv/
.venv/
test.py
test2.py
datasets/data/datasetImages_originalSize
datasets/data/imgListFiles_label
*.txt
